<div class="card">
  <div class="card-content">
    <div class="row">
      <div class="col s12 m8">
        <h5>
          <a href="<%= domains_path %>" class="grey-text" style="margin-right: 1rem"><i class="material-icons md">arrow_back</i></a>
          Přidat novou doménu
        </h5>
      </div>
      <%= form_with url: domains_path, method: :post do %>
        <div class="col s12">
          <div class="input-field">
            <%= label_tag "URL adresa kořenového adresáře" %>
            <%= text_field :domain, :url, autofocus: true %>
          </div>
        </div>
        <div class="col s12">
          <%= submit_tag "Přidat do systému", class: 'btn-large blue-grey' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
