<!DOCTYPE html>
<html>
<head>
  <title>Webový vyhledávač</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
<nav class="blue-grey">
  <div class="nav-wrapper">
    <div class="container">
      <a href="<%= root_path %>" class="brand-logo">Webový vyhledávač</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="<%= root_path %>">Vyhledávání</a></li>
        <li><a href="<%= domains_path %>">Správa domén</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container app-container">
  <%= yield %>
</div>
</body>
</html>
